In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('alldata.csv')

In [4]:
data.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [16]:
data.description

0       Development Director\nALS Therapy Development ...
1       Job Description\n\n"The road that leads to acc...
2       Growing company located in the Atlanta, GA are...
3       DEPARTMENT: Program OperationsPOSITION LOCATIO...
4       DESCRIPTION\nThe Emory University Department o...
                              ...
6959    Are you data-driven? We at NetApp believe in t...
6960    Pharmacyclics is committed to the development ...
6961    Oath, a subsidiary of Verizon, is a values-led...
6962    We are the Bing Core Relevance team responsibl...
6963    Comcastâ€™s Technology &amp; Product organizatio...
Name: description, Length: 6964, dtype: object

In [17]:
data.position

0                                    Development Director
1       An Ostentatiously-Excitable Principal Research...
2                                          Data Scientist
3                                            Data Analyst
4       Assistant Professor -TT - Signal Processing & ...
                              ...
6959            Data Developer / Machine Learning Analyst
6960                                          Scientist I
6961                                     Intern Scientist
6962                      Senior Data & Applied Scientist
6963              Principal Data Scientist, Deep Learning
Name: position, Length: 6964, dtype: object

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [7]:
data.shape

(6964, 5)

In [8]:
data.columns

Index(['position', 'company', 'description', 'reviews', 'location'], dtype='object')

In [18]:
data['position'].value_counts()

Data Scientist                                                 351
Senior Data Scientist                                           96
Research Analyst                                                64
Data Engineer                                                   60
Machine Learning Engineer                                       56
                                                              ...
Sr Machine Learning Scientist - Prime Video Recommendations      1
Mechanical Engineer, X                                           1
Data Scientist, Investment Research                              1
Energy Program Analyst                                           1
Genetics Counselor                                               1
Name: position, Length: 5242, dtype: int64

In [49]:
datascience = data[(data["position"]=="Data Analyst") | (data["position"]=="Data Scientist")]

In [50]:
datascience

,position,company,description,reviews,location
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
15,Data Scientist,Cotiviti,Cotiviti is looking for an industry leading Da...,104.0,"Atlanta, GA"
18,Data Scientist,Relus Cloud,DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...,NaN,"Atlanta, GA"
19,Data Scientist,Inspire Brands,This position is critical to understanding dri...,NaN,"Atlanta, GA"
...,...,...,...,...,...
6703,Data Scientist,Profusa,PURPOSE OF JOB:\nProfusa is conducting clinica...,NaN,"South San Francisco, CA 94080"
6924,Data Scientist,Proofpoint,"Company Overview\nAt Proofpoint, we have a pas...",28.0,"Sunnyvale, CA 94089"
6930,Data Scientist,"Linc Global, Inc.",Why you should join:\n\nJoin us in building th...,NaN,"Sunnyvale, CA"
6932,Data Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6933,Data Scientist,Bosch Group,Job Description\n\nPrimary Responsibilities:\n...,3367.0,"Sunnyvale, CA 94085"

In [48]:
datascience.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 433 entries, 2 to 6955
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     433 non-null    object
 1   company      433 non-null    object
 2   description  433 non-null    object
 3   reviews      259 non-null    float64
 4   location     433 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.3+ KB